<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

            <!-- Bootstrap Core CSS -->
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
            <link href="{{ asset('css/custom.css' ) }}" rel="stylesheet">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% for msg in app.session.flashBag.get('success') %}

        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}


    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- IE10 viewport bug workaround -->
        <script src="{{ asset('js/ie10-viewport-bug-workaround.js') }}"></script>
        <!-- Placeholder Images -->
        <script src="{{ asset('js/holder.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
